[Unit]
Description=WebLogic Admin Console Service

[Service]
Type=simple
# Note that the following three parameters should be changed to the correct paths
# on your own system
WorkingDirectory=/opt/oracle/occas/8.3/user_projects/domains/replicated
ExecStart=/opt/oracle/occas/8.3/user_projects/domains/replicated/bin/startWebLogic.sh
ExecStop=/opt/oracle/occas/8.3/user_projects/domains/replicated/bin/stopWebLogic.sh
User=oracle
Group=oinstall
KillMode=process
LimitNOFILE=65535
Restart=always

[Install]
WantedBy=multi-user.target
