.DS_Store
dist
build
build.number
bin
classes
.apt_src
target
deps
*.class
*.log
*.log.lck

vorpal-blade-shared-libraries/src/main/webapp/META-INF/maven/vorpal.blade.shared.libraries/vorpal-blade-shared-libraries/pom.properties
vorpal-blade-shared-libraries/src/main/webapp/META-INF/maven/vorpal.blade.shared.libraries/vorpal-blade-shared-libraries/pom.properties
vorpal-blade-shared-libraries/src/main/webapp/META-INF/maven/vorpal.blade.shared.libraries/vorpal-blade-shared-libraries/pom.properties
vorpal-blade-shared-libraries/src/main/webapp/META-INF/maven/vorpal.blade.shared.libraries/vorpal-blade-shared-libraries/pom.properties
