<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0"
>
	<display-name>flow</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- no security required -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>login</web-resource-name>
			<url-pattern>/login/*</url-pattern>
		</web-resource-collection>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>flow</web-resource-name>
			<url-pattern>/</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Admin</role-name>
			<role-name>Operator</role-name>
			<role-name>Deployer</role-name>
			<role-name>Monitor</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>CLIENT-CERT,FORM</auth-method>
		<realm-name>default</realm-name>
		<form-login-config>
			<form-login-page>/login/login.jsp</form-login-page>
			<form-error-page>/login/login.jsp</form-error-page>
		</form-login-config>
	</login-config>

	<security-role>
		<role-name>Admin</role-name>
	</security-role>
	<security-role>
		<role-name>Operator</role-name>
	</security-role>
	<security-role>
		<role-name>Deployer</role-name>
	</security-role>
	<security-role>
		<role-name>Monitor</role-name>
	</security-role>

</web-app>
