<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_BladeRedirect" version="4.0">

	<display-name>blade-redirect</display-name>

	<!-- Map the redirect JSP to every path. As the default web app (context-root
	     "/"), a welcome-file alone would catch "/" but 404 on "/blade" (not a
	     real directory in this WAR), so /* is required to cover both. -->
	<servlet>
		<servlet-name>blade-redirect</servlet-name>
		<jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>blade-redirect</servlet-name>
		<url-pattern>/*</url-pattern>
	</servlet-mapping>

</web-app>
