<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">

	<display-name>crud-editor</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>

	<!-- Explicit servlet registration (in addition to the @WebServlet
	     annotation on PreviewServlet) so that container-side annotation
	     scanning isn't required for the endpoints to wire up. -->
	<servlet>
		<servlet-name>preview</servlet-name>
		<servlet-class>org.vorpal.blade.admin.crud.PreviewServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>preview</servlet-name>
		<url-pattern>/resources/api/preview</url-pattern>
		<url-pattern>/resources/api/ruleSets</url-pattern>
	</servlet-mapping>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>API</web-resource-name>
			<url-pattern>/resources/api/*</url-pattern>
			<http-method>GET</http-method>
			<http-method>POST</http-method>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Admin</role-name>
			<role-name>Operator</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>page</web-resource-name>
			<url-pattern>/index.html</url-pattern>
			<url-pattern>/</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>Admin</role-name>
			<role-name>Operator</role-name>
		</auth-constraint>
	</security-constraint>

	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>default</realm-name>
	</login-config>

	<security-role>
		<role-name>Admin</role-name>
	</security-role>
	<security-role>
		<role-name>Operator</role-name>
	</security-role>
</web-app>
