{
  "transferAllRequests" : false,
  "featureEnable" : {
    "OSM-Features" : [ {
      "includes" : "transfer"
    } ]
  },
  "blindTransfer" : {
    "Request-URI" : [ {
      "txfer" : "blind"
    } ]
  },
  "assistedTransfer" : {
    "Request-URI" : [ {
      "txfer" : "assisted"
    } ]
  },
  "mediaTransfer" : {
    "Request-URI" : [ {
      "txfer" : "media"
    } ]
  },
  "defaultTransferType" : "blind",
  "preserveInviteHeaders" : [ "Cisco-Gucid", "User-to-User" ]
}